body{
    font-family: 'Poppins', sans-serif;
}
#B-G{
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 669px;
}
.T-F-one{
    text-align: center;
    padding-top: 20%;
    color: white;
}
.m-one{
    font-size: 25px;
    color: aqua;
}
.link-button{
    background-image: linear-gradient(rgb(255, 119, 0), rgb(236, 69, 69));
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    font-size: x-large;
    color: aquamarine;
}
.T-F-tow{
    text-align: center;
    padding-top: 5%;
    padding: 5% 30% 5% 30%;
}
.flex-one{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}
li{
    display: inline;
    padding: 20px;
    background-color: rgb(253, 237, 237);
    border-radius: 5px;
}
#brd{
    border: 3px solid coral;
    background-color: rgb(255, 224, 187);
}
.cn{
    padding-left: 28%;
    font-size: xx-large;
    font-weight: 600;
    font-family: 'poppins';
}
.warp{
    padding-top: 5%;
    padding-bottom: 5%;
    text-align: center;
}
.warp .in-data input{
    border: none;
    border-bottom: 1px solid silver;
    width: 50%;
}
.warp .in-data label{
    font-size: small;
    color: silver;
}
.line-box{
    font-size: smaller;
    margin-left:2%;
    margin-right: %;
    background-color: rgb(248, 231, 247);
    padding: 3%;
    border-radius: 5px;
    
}
.line-box img{
    width: 50px;
}

.flex-tow{
    display: flex;
    margin: 10%;
}
.donate-box{
    padding-right: 25%;
}
.flex-three{
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
}
.flex-three img{
    width: 180%;
    margin-left: %;
}
.survive{
    padding-left: 25%;
    padding-right: 5%;
}